{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
