<form method="post" action="{{ path('sejour_delete', {'id': sejour.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sejour.id) }}">
    <button class="btn">Delete</button>
</form>
