{% extends 'base.html.twig' %}

{% block title %}Edit Sejour{% endblock %}

{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            Editer le sejour
        </div>
        <div class="card-body">
            {{ include('sejour/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('sejour/_delete_form.html.twig') }}
            <a href="{{ path('accueil') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
